# Suraya - a blend of Grafana and Marimo, with flavours of AMG and PMM.

services:

  nginx:
    image: nginx:1.27
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./index.html:/srv/index.html
    ports:
      - "8080:80"
    restart: unless-stopped

  cratedb:
    image: crate:5.9.6
    ports:
      - "4200:4200"
      - "5432:5432"
    environment:
      - CRATE_HEAP_SIZE=1g
    command: [
      "crate",
      "-Cdiscovery.type=single-node",
      "-Chttp.cors.enabled=true",
      "-Chttp.cors.allow-origin=*",  # http://localhost:4201
      "-Ccluster.routing.allocation.disk.threshold_enabled=false",
    ]
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    restart: unless-stopped

  cratedb-cockpit:
    image: surister/cratedbaltadmin:0.3.3
    ports:
      - "4201:80"
    restart: unless-stopped

  grafana:
    image: grafana-suraya:dev
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana-datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
    ports:
      - "3000:3000"
    environment:
      - GF_LOG_LEVEL=info
      #- GF_LOG_LEVEL=debug
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    restart: unless-stopped

  marimo:
    image: marimo-suraya:dev
    ports:
      - "4211:4211"
    restart: unless-stopped
